@import url('https://fonts.googleapis.com/css?family=Raleway');


.reg-pg{
        background: linear-gradient(to left, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 1vh;
}

.reg-title{
    text-align: center;
    height: 14vh;
    color: white;
    // background: linear-gradient(to left, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.reg-h1{
    margin-top: 8vh;
    font-family: 'Raleway', sans-serif;
}

.reg-inputs{
    width: 100%;
    background-image: url('../images/ignasi_pattern_s.png');
    height: 70vh;
    padding-top: 10vh;
}

.reg-pas, .reg-user, .reg-email{
    padding: 15px;
    outline: none;
    border: none;
    font-size: 15px;
}

.reg-name, .reg-Lname{
    width: 45%;
    font-size: 15px;
    outline: none;
    border: none;
    text-indent: 12px;
}


.disp1{
    display: flex;
    
    justify-content: space-between;
    height: 6vh;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-bottom: 3vh;
    //  padding: 15px;
    width: 39.8vw;
    // border: 1px solid black;
}

.disp2{
    margin-left: 30vw;
    margin-right: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    // border: 1px solid black;

}

.alert1{
    background-color: rgb(253, 81, 51);
    position: absolute;
    height: 5vh;
    margin-top: 5vh;
    margin-right:0vw;
    margin-left: 76.9vw;
    color: white;
    display: flex;
    align-items: center;
    z-index: 2;
    border-radius: 5px;
    padding: 10px;
}

.reg-button{
    width: 20vw;
    padding: 15px;
    margin-top: 10vh;
    margin-left: 40vw;
    background-color: #FFDE12;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}

.reg-button:hover{
    background-color: #CEB001;
}

//ipad media queries
@media(max-width: 1024px){
    .disp1{
        display: flex;
        height: 14vh;
        flex-direction: column;
        margin-bottom: 4vh;
    
    }

    .reg-name, .reg-Lname{
        height: 5vh;;
        width:100%; 
    }

    .reg-button{
        margin-left: 29.8vw;
        padding-left: 20vw;
        padding-right: 20vw;
        text-indent: -23px;
    }

}

//iphone x media queries
@media(max-width: 375px){
    .disp1{
       width: 80%;
       margin-left: 9vw;
    //    margin-right: 0vw;
    }

    .disp2{
        width: 80%;
        margin-left: 9vw; 
    }

    .reg-button{
        width: 80%;
        margin-left: 9vw;;
    }

    .reg-name, .reg-Lname{
        height: 6vh;
    }

    .disp1{
        margin-bottom: 3vh;
        height: 15vh;
}

}

// iphine 6/7/8 media qureies

// @media(max-width: ){

// }