//varibles for colors
$color-1: rgb(233, 233, 233);
$color-2: white;
$color-3: #FFDE12;
$color-4: #427AA1;
$color-5: #CEB001;

//fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
$font-1: 'Raleway', sans-serif;

.container{
    background-color: $color-1;
    height: 90vh;
    display: flex;
    flex-direction: row;
}


.signUp{    
    background-color:$color-2;
    border-radius: 7px;
    margin-left: 7vw;
    padding: 13%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .3);

}

.ipt1, .ipt2{
    padding: 15px;
    font-size: 15px;
     background-color: #F5F5FA;
     font: 1rem "PT Sans", sans-serif;
     outline: none; 
     border: none;
     margin: 10px;
}

.btn-login{
    margin-top: 20px;
    padding: 20px;
    background-color: $color-3;
    outline: none;
    font-size: 13px;
    border-radius: 5px;
}

.btn-login:hover{
    background-color: $color-5;
    cursor: pointer;
}

.display-reg{
     margin-top: 20vh;
    align-items: center; 
    margin-left: 14vw;
    margin-right: 14vw;
    display: flex;
    flex-direction: column;
    font-family: $font-1;
}

.pjname{
    text-align: center;
    margin: 20px;
}

.btn-reg{
    margin: 20px;
    padding: 15px;
    outline: none;
    background-color:$color-1;
    border: .50px solid $color-4;
    border-radius: 5px;
    font-size: 24px;
    font-family: $font-1;
}

.btn-reg:hover{
    background-color: $color-4;
    color: $color-2;
    cursor: pointer;
}