@import url('https://fonts.googleapis.com/css?family=Raleway');


.disp-info-img{
    height: 55vh;
    width: 100%;
    border-radius: 4px;
}

.fmt-13{
    // border: 1px solid black;
    margin-left: 5vw;
    margin-right: 35vw;
    margin-top: 30px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    background-color: white;
    height: 110vh;
    padding: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .3);
}

.dispInfo-container{
    background-image: url('../../images/ignasi_pattern_s.png');
    // background-color: lightgrey;
    height: 130vh;
    display: flex;
}

.btm-disp{
    margin-top: 30px;
    display: flex;
    margin-right: 30vw;
    justify-content: center;
}

.vol{
    font-size: 15px;
    padding: 15px;
    width: 10vw;
    outline: none;
    border: 1px solid #468F9D;
    border-radius: 5px;
    cursor: pointer;
}

.vol:hover{
    background: #468F9D;
    color: white;
}

.btm2-disp{
    height: 8vh;
    margin-left: 40vw;
    margin-right: 120px;
    margin-top: -7vh;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
}

.outer-cont-2{
    background-color: white;
    width: 25vw;
    height: 112vh;
    margin-left: 71vw;
    margin-top: 4.5vh;
    border-radius: 4px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .3);
}

.cont-2{
    height: 50vh;
    // border: 1px solid s;
}
.li-cont2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid black;
    width: 20vw;
    margin-right: 11vw;
    margin-left: 2vw;
    // margin-bottom: 2vh;
    margin-top: 3vh;
    height: 25vh;
}

.cont2-li{
    margin-left: 2vw;
    margin-bottom: 2vh;
}

.cont2-title{
    text-align: center;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
}

.Di-p1, .Di-p2{
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    // font-size: 16px;
}
// .Di-p2{
//     padding-left: 10px; 
// }

.Di-h1{
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 4vh;
    font-family: 'Raleway', sans-serif;
}

// .di-h3-t{
//     font-family: 'Raleway', sans-serif;
// }

hr{
margin-top: 3vh;
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
width: 50vw;
margin-left: 5vw;
margin-right: 5vw;
}

@media(max-width: 1024px){
    .dispInfo-container{
        height: 200vh;
    }
    
    .fmt-13{
        height: 105vh;
        left: 10%;
        // width: 70%
    }

    .outer-cont-2{
        margin-top: 160%;
        // margin-right: 90vw;
        margin-left: 27vw;
        height: 60vh;
        width: 40Vw;
    }
    .li-cont2{
        // border: solid black 1px;
        margin-left: 8vw;
        width: 30vw;
        // text-align: center;
    }
}

@media(max-width: 375px){
    .fmt-13{
        left: -5%;
        height:130vh;
        width: 95%
    }

    .outer-cont-2{
        margin-top: 140vh;
        width: 50vw;
        margin-left: 20vw;
    }

    .btm2-disp{
        margin-right: 0vw;
        width: 50vw;
    }

    .btm-disp{
        margin-right: 60vw;
    }
    .outer-cont-2{
        width: 80vw;
        margin-left: 4vw
    }
}