@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Kaushan+Script');


.nav{
    background-color: #697FAE;
    height: 12vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center; 
}

ul{
    display: flex;
    margin-left: 6vw;
}

.title{
    margin-right: 3vw;
    font-family: 'Kaushan Script', cursive;
    color: rgb(216, 150, 141);
}


.l1, .l2, .l3, .l4{
    text-decoration: none;
    margin: 25px;
    color: white;
    list-style-type: none;
    cursor: pointer;
    font-family: 'Fjalla One', sans-serif;
    font-size: 22px;
}

.signup:hover, .create:hover, .home:hover, .register:hover{
    color: rgb(198, 196, 196);
}

.signOut{
    margin-left: 20px;
    cursor: pointer;
    background-color: #697FAE;
    padding: 5px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    border: none;
    font-size: 15px;
}

.signOut:hover{
    background-color: white;
    color: #697FAE;
}