@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Kaushan+Script');

.nav{
    // background-image: url('../images/dark-grey-terrazzo.png');
    background: linear-gradient(to left, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background-color: #697FAE;
    height: 12vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center; 
}

ul{
    display: flex;
    margin-left: 6vw;
}

.title{
    margin-right: 3vw;
    font-family: 'Kaushan Script', cursive;
    color: #FFDD14;
    font-size: 20px;
}


.l1, .l2, .l3, .l4{
    text-decoration: none;
    margin: 25px;
    color: white;
    list-style-type: none;
    cursor: pointer;
    font-family: 'Fjalla One', sans-serif;
    font-size: 22px;
}

.signup:hover, .create:hover, .home:hover, .register:hover{
    color: rgb(198, 196, 196);
}

.signOut{
    margin-left: 2vw;
    margin-top: 2.5vh;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    height: 5vh;
    color: #407B8A;
    font-family: 'Fjalla One', sans-serif;
    border: none;
    font-size: 15px;
    border-radius: 3px
}

.signOut:hover{
    background-color: #407B8A;
    color:  white;
}

.logosvg{
  height: 4vh;
  position: absolute;
  z-index: 2;
  fill: white;
}

.ham{
    display: none;
 }

.nav-ul{
    margin-right: 0vw;
    width:40%;
}



// ipad media quires
@media(max-width: 1024px){
    .nav-ul{
        display: none;
    }

    .ham{
        display: block;
        position: absolute;
        z-index: 3;
        left: 2%;
        cursor: pointer;
        // background-color: white
    }

    .slidebar{
        position: relative;
        position: sticky;
        z-index: 3;
        right: 9%;
        height: 6vh;
        opacity: 0;
        outline: none;
        cursor: pointer;
    }

    .slidebar-1{
    background-image: url('../images/congruent_outline.png'); 
    position: absolute;
    position: fixed;
    left: -26%;
    right: 10%;
    width: 60%;
    z-index: 10;
    top: 0%;
    // bottom: 0/
    // border: 1px solid white;
    height: 120vh;
    }

    .nav-ul{
        position: absolute;
        z-index: 10;
    }

    .white{
        // color: white;
        background-color: white;
        margin-left: 28vw;
        width: 5vw;
        cursor: pointer;
    }

    .home, .create, .signup, .register{
        margin-left: 28vw;
        margin-right: 5vw;
        margin-top: 3vh;
        outline: none;
    }


}

// iphone x media queries
@media(max-width: 375px){
    .slidebar-1{
        width: 70%;
    }

    .slidebar{
        outline: none;
    }

}