@import url('https://fonts.googleapis.com/css?family=Raleway');


.outer-stp1{
    background-image: url('../images/ignasi_pattern_s.png');
    height: 100vh;
    padding-top: 10vh;  
 
}

.step1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 90vh;
    margin-left: 25vw;
    margin-right: 25vw;
    border-radius: 7px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .3);
    padding: 5vh 0 5vh 0;
    // border: solid black 1px;
}

.ipt-name,.ipt-length,.ipt-location{
    margin-left: 11vw;
    margin-right: 11vw;
    padding: 15px;
    font-size: 14px;
    outline: none;
    background-color: #F5F5FA;
    // border-radius: 5px;
    border: none;
    text-align: center;
}

.ipt-details{
    margin-right: 13vw;
    margin-left: 13vw;
    height: 10vh;
    padding: 4px;
    border-radius: 4px;
    outline: none;
    font-size: 15px;
    height: 20vh;
    border: rgb(136, 135, 135) solid 1px;
}

.stp1-next{
   padding: 13px;
   background-color: #FFDE12;
   outline: none;
   border-radius: 4px;
   border: none;
   width: 70%;
   cursor: pointer;
   font-size: 15px;
} 

.stp1-next:hover{
    background-color: #CEB001;
}

.stp-next-div{
    margin-left: 80vh;
}

.lbl-name, .lbl-type{
    margin-left: 11vw;
    font-size: 15px;
}

.ipt-type{
    margin-left: 11vw;
    margin-right: 11vw;
    background-color: #F5F5FA;
    height: 6vh;
    font-size: 15px;
    line-height: 30px;
    outline: none;
}

//iphone views
@media(max-width: 1024px){
    .stp1-next{
        margin-left: 68vw;
        padding: 13px;
        width: 15vw;
    }

    .outer-stp1{
        padding-top: 0;
    }

    .step1{
        width: 100%;
        margin-left: 0vw;
        height: 100vh;
    }

    .stp-next-div{
        // border: solid 1px black;
        margin-left: 10vw;
        width: 80%;
    }
}

@media(max-width: 375px){
    .step1{
        width: 100vw;
        margin-left: 0vw;
        height: 100%;
    }

    .stp1-next{
        margin-left: 70vw;
        padding: 10px;
        width: 20vw;
    }

    .stp-next-div{
        margin-left: 0vw;
        // border: solid 1px black;
    }

    .outer-stp1{
        padding-top: 0vh;
    }
}
