.outer-stp2{
    background-image: url('../images/ignasi_pattern_s.png');
    // background-color: #E9E9E9;
    height: 100vh;
    padding-top: 10vh;  
 
}

.step2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 70vh;
    margin-left: 25vw;
    margin-right: 25vw;
    border-radius: 7px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .3);
    padding: 10vh 0 10vh 0;
}
.stp2-img{
    margin-left: 12vw;
    font-size: 15px;
}

.ipt-img,.ipt-description,.ipt-goals,.ipt-availability,.ipt-skills{
    margin-left: 11vw;
    margin-right: 11vw;
    padding: 15px;
    outline: none;
    border: none;
    background-color: #F5F5FA;
    font-size: 18px;
    text-align: center;
}

.ipt-img:hover,.ipt-description:hover,.ipt-goals:hover,.ipt-availability:hover,.ipt-skills:hover{
    border: 1px solid #697FAE;
    
}

.step2-btns{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    justify-content: space-around;
    // border: solid 1px solid;
}

.stp2-next{
    padding: 10px;
    background-color: #FFDE12;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
 } 

.stp2-prev{
    padding: 10px;
    background-color: #FFDE12;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.stp2-prev:hover, .stp2-next:hover{
    background-color: #CEB001;
}

@media(max-width: 1024px){
    .outer-stp2{
        padding-top: 0vh;
    }

    .step2{
        width: 100%;
        margin-left: 0vw;
        height: 80vh
    }

    .stp2-next, .stp2-prev{
        padding: 15px;
        width: 15vw;
    }
    
}



@media(max-width: 375px){
    .outer-stp2{
        padding-top: 0vh;
    }

    .step2{
        width: 100%;
        margin-left: 0vw;
    }

    .step2-btns{
        // border: solid 1px black;
        justify-content: space-between;
        width: 90%;
        margin-left: 5vw;
    }

    .stp2-next, .stp2-prev{
        margin-left: 0vw;
        padding: 10px;
        width: 20vw;
    }

}